# Virtual environments
venv/
.venv/

# Python cache
__pycache__/
*.py[cod]

# Django database
db.sqlite3
*.sqlite3

# Environment variables and secrets
.env
.env.*

# VS Code settings
.vscode/

# Operating system files
.DS_Store
Thumbs.db

# Log files
*.log